@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --color-primary: #FFD600; /* amarelo */
  --color-dark: #000000; /* preto */
  --color-light: #ffffff; /* branco */
  --color-gray: #1C1C1C; /* cinza escuro */
}

body {
  @apply bg-gray-100 text-gray-900;
}

/* Sidebar e layout */
.sidebar {
  @apply flex flex-col justify-between w-64 h-screen;
  background-color: var(--color-dark);
  color: var(--color-light);
}

.sidebar a {
  @apply px-4 py-2 rounded-md text-sm font-medium transition-colors duration-200;
  color: var(--color-light);
}

.sidebar a:hover {
  background-color: var(--color-primary);
  color: var(--color-dark);
}

.sidebar a.active {
  background-color: var(--color-primary);
  color: var(--color-dark);
  font-weight: 600;
}

header {
  background-color: var(--color-dark);
  color: var(--color-light);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in {
  animation: fade-in 1.2s ease-in-out forwards;
}